@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
body{
    overflow-x: hidden;
}
.inner{
    width: 1408px;
    margin: 0 auto;
}

/* header */
header{
    width: 100%;
    height: 114px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    top: 0;
    z-index: 10;
}
.logo{
    background: url(../img/logo/logo_fake_KO_WH.png)no-repeat;
    background-size: contain;
    width: 232px;
    height: 44px;
}
.menu{
    width: 900px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav li{
    font-size: 1.8rem;
    cursor: pointer;
    list-style: none;
    position: relative;
    color: #fff;
}
.g_icon{
    content: "";
    background: url(../img/icon/global.png)no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 49px;
    right: 111px;
}
.nav li:hover{
    color: #A7081B;
}
.lang{
    background:transparent;
    width: 78px;
    height: 26px;
    border-radius: 20px;
    border: 1.5px solid #CBCBCB;
    padding-left: 25px;
    font-size: 1.3rem;
    color: #CBCBCB;
}

/* 사업 소개 section1 */
.sec1 {
    position: relative;
    height: 519px;
    background-image: url(../img/bg/비즈니스상단.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}
.sec1>h1 {
    font-size: 5.5rem;
    color: white;
    font-weight: 600;
    margin-top: 281px;
}

.sec1>p {
    color: #C1C1C1;
    font-size: 2rem;
    font-weight: normal;
}

/* section2 */
.photo{
    width: 1408px;
    height: 387px;
    background: url(../img/bg/redhouse.png)no-repeat;
    background-size: contain;
}
.sec2{
    margin-top: 60px;
    margin-bottom: 155px;
    display: flex;
    justify-content:space-between;
}
.s2_con1{
    display: flex;
    flex-direction: column;
}
.s2_con1>h1{
    width: 473px;
    height: 90px;
    font-size: 4.5rem;
    border-bottom: 2px solid #A7081B;
    margin-bottom: 80px;
}
.s2_con1>span:nth-child(2){
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 100px;
    position: relative;
}
.s2_con1>span:nth-child(2)::before{
    display: inline-block;
    content: "";
    background: #A7081B;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 180px;
    top: 10px;
}
.s2_con2{
    display: flex;
    flex-direction: column;
}
.s2_con2 p{
    margin:90px 0 90px 0;
    border-top: 2px solid #B9B9B9;
    padding-top: 95px;
    width: 846px;
    font-size: 2rem;
    word-break: break-all;
    line-height: 3rem;
}
.icon{
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 42px;
}
.squre{
    width: 207px;
    height: 207px;
    border: 2px solid #A7081B;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon1{
    background:url(../img/icon/Stabilize.png)no-repeat;
    background-size: cover;
    width: 55px;
    height: 77px;
    transform: rotate(-45deg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -24px;
    margin-right: 23px;
}
.icon1:after{
    width: 200px;
    text-align: center;
    content: "주택 및 상가 임대업";
    font-size: 1.8rem;
    color: #A7081B;
    position: absolute;
    top: 75px;
}
.icon2{
    background:url(../img/icon/Actualize.png)no-repeat;
    background-size: cover;
    width: 74px;
    height: 66px;
    transform: rotate(-45deg);
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -24px;
    margin-right: 23px;
}
.icon2:after{
    width: 200px;
    text-align: center;
    content: "부동산 개발";
    font-size: 1.8rem;
    color: #A7081B;
    position: absolute;
    top: 75px;
}
.icon3{
    background:url(../img/icon/Analyse.png)no-repeat;
    background-size: cover;
    width: 59px;
    height: 43px;
    transform: rotate(-45deg);
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -24px;
    margin-right: 23px;
}
.icon3:after{
    width: 200px;
    text-align: center;
    content: "컨설팅";
    font-size: 1.8rem;
    color: #A7081B;
    position: absolute;
    top: 63px;
}

/* section3 */
.photo2{
    width: 1408px;
    height: 387px;
    background: url(../img/bg/people.png)no-repeat;
    background-size: contain;
}
.sec3{
    margin-top: 60px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 155px;
}
.sec3 .s2_con2 p:nth-child(1){
    margin:90px 0 90px 0;
    border-top: 2px solid #B9B9B9;
    width: 846px;
    font-size: 2rem;
    word-break: break-all;
    line-height: 3rem;
}
.sec3 .s2_con1>span:nth-child(2){
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 230px;
}
.sec3 .s2_con1>span:nth-child(2)::before{
    display: inline-block;
    content: "";
    background: #A7081B;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 180px;
    top: 10px;
}
.sec3 .icon1{
    background:url(../img/icon/pig.png)no-repeat;
    background-size: cover;
    width: 68px;
    height: 67px;
    transform: rotate(-45deg);
    position: relative;
    display: flex;
    justify-content: center;
}
.sec3 .icon1:after{
    content: "농·축산물";
    font-size: 1.8rem;
    color: #A7081B;
    position: absolute;
    top: 80px;
}
.sec3 .icon2{
    background:url(../img/icon/pakage.png)no-repeat;
    background-size: cover;
    width: 50px;
    height: 62px;
    transform: rotate(-45deg);
    position: relative;
    display: flex;
    justify-content: center;
}
.sec3 .icon2:after{
    content: "가공식품";
    font-size: 1.8rem;
    color: #A7081B;
    position: absolute;
    top: 75px;
}
.sec3 .icon3{
    background:url(../img/icon/package2.png)no-repeat;
    background-size: cover;
    width: 63px;
    height: 61px;
    transform: rotate(-45deg);
    position: relative;
    display: flex;
    justify-content: center;
}
.sec3 .icon3:after{
    content: "공산품";
    font-size: 1.8rem;
    color: #A7081B;
    position: absolute;
    top: 75px;
}

/* section4*/
.sec4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 445px;
    background: url(../img/bg/sec4bg.png)no-repeat;
    background-size: cover;
}
.sec4>span{
    font-size: 4rem;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}
.s_contact{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.s_contact>span{
    font-size: 2rem;
    color: #fff;
    margin-right: 58px;
}
.c_btn{
    position: relative;
}
.c_btn .round{
    width: 26px;
    height: 26px;
    background: #A7081B;
    border-radius: 50%;
}
.c_btn .c_line{
    display: block;
    width: 49px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 12px;
    left: -34px;
}
.s_contact:hover .c_line{
    animation: lineani ease-in 0.3s;
}
.c_btn span:nth-of-type(1){
    display: block;
    width: 7px;
    height: 1px;
    background: #fff;
    position: absolute;
    transform: rotate(45deg);
    top: 10px;
    left: 10px;
}
.c_btn span:nth-of-type(2){
    display: block;
    width: 7px;
    height: 1px;
    background: #fff;
    position: absolute;
    transform: rotate(-45deg);
    top: 15px;
    left: 10px;
}
@keyframes lineani{
    0%{
        width: 100%;
    }
    33%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

/* footer */
footer{
    width: 100%;
    height: 184px;
    display: flex;
    align-items: center;
    padding: 45px 186px;
    background: #252525;
    position: relative;
}
.l_con>span{
    display: block;
    font-size: 1.8rem;
    color:#fff;
}
.num{
    display: flex;
    align-items: center;
}
.num>span{
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #fff;
}
.l_con .copy{
    display: block;
    font-size: 1.5rem;
    color: #fff;
}
.g_top{
    background: url(../img/icon/f_btn.png)no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    position: absolute;
    right: 80px;
    bottom: 95px;
    width: 40px;
    height: 40px;
    z-index: 50;
    cursor: pointer;
}
.M_title{
    display: none;
}