@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
body{
    overflow-x: hidden;
}
.inner{
    width: 1408px;
    margin: 0 auto;
}

/* header */
header{
    width: 100%;
    height: 114px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    top: 0;
    z-index: 10;
}
.logo{
    background: url(../img/logo/logo_fake_KO_WH.png)no-repeat;
    background-size: contain;
    width: 232px;
    height: 44px;
}
.menu{
    width: 900px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav li{
    font-size: 1.8rem;
    cursor: pointer;
    list-style: none;
    position: relative;
    color: #fff;
}
.g_icon{
    content: "";
    background: url(../img/icon/global.png)no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 49px;
    right: 111px;
}
.nav li:hover{
    color: #A7081B;
}
.lang{
    background:transparent;
    width: 78px;
    height: 26px;
    border-radius: 20px;
    border: 1.5px solid #CBCBCB;
    padding-left: 25px;
    font-size: 1.3rem;
    color: #CBCBCB;
}

/* 온라인몰 section1 */
.sec1 {
    position: relative;
    height: 519px;
    background-image: url(../img/bg/온라인몰상단.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec1>h1 {
    font-size: 5.5rem;
    color: white;
    font-weight: 600;
    margin-top: 281px;
}

.sec1>p {
    color: #C1C1C1;
    font-size: 2rem;
    font-weight: normal;
}

/* section2 */
.sec2{
    margin-top: 137px;
    margin-bottom: 70px;
    display: flex;
    justify-content:space-between;
}
.s2_con1{
    display: flex;
    flex-direction: column;
}
.s2_con1>h1{
    width: 473px;
    height: 90px;
    font-size: 4.5rem;
    border-bottom: 2px solid #A7081B;
    margin-bottom: 80px;
}
.s2_con1>span:nth-child(2){
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 100px;
    position: relative;
}
.s2_con1>span:nth-child(2)::before{
    display: inline-block;
    content: "";
    background: #A7081B;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 10px;
}
.s2_con1>span:nth-child(3){
    font-size: 4rem;
    font-weight: 600;
    color:#C1C1C1;
}
.s2_con2{
    display: flex;
    flex-direction: column;
}
.s2_con2 p{
    margin:90px 0 90px 0;
    border-top: 2px solid #B9B9B9;
    padding-top: 95px;
    width: 846px;
    font-size: 2rem;
    word-break: break-all;
    line-height: 3rem;
}

/* tab btn */
.tab_btn{
    width: 600px;
    height: 94px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 65px;
}
.tab_btn::before{
    content: "";
    width: 600px;
    height: 1px;
    background: #A7081B;
    position: absolute;
    top: 5px;
    left: 0;
}
.tab_btn::after{
    content: "";
    width: 600px;
    height: 1px;
    background: #A7081B;
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: -1;
}
.tab_btn li{
    width: 300px;
    height: 100%;
    font-weight: 700;
    list-style: none;
    padding: 6px;
    position: relative;
    overflow: hidden;
    transition: ease-out 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.tab_btn li::before{
    width: 15px;
    height: 10px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    border-right: 3px solid #A7081B;
    border-top: 3px solid #A7081B;
    transition: 0.4s;
    opacity: 0;
}
.tab_btn li::after{
    width: 15px;
    height: 10px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 2px solid #A7081B;
    border-bottom: 2px solid #A7081B;
    transition: 0.4s;
    opacity: 0;
}
.tab_btn li span{
    display: block;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    color: #A7081B;
    text-align: center;
}
.tab_btn li span::before{
    width: 15px;
    height: 10px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-top: 3px solid #A7081B;
    border-left: 3px solid #A7081B;
    transition: 0.4s;
    opacity: 0;
}
.tab_btn li span::after{
    width: 15px;
    height: 10px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 3px solid #A7081B;
    border-bottom: 3px solid #A7081B;
    transition: 0.4s;
    opacity: 0;
}
.tab_btn li>span {
    transition: 0.4s;
}
.tab_btn li:hover>span {
    text-align: center;
    height: 100%;
    background: #A7081B;
    color: #fff;
}
.tab_btn li:hover{
    background: #fff;
}
.tab_btn li:hover::before {
    opacity: 1;
    border-right: 2px solid #A7081B;
    border-top: 2px solid #A7081B;
}

.tab_btn li:hover::after {
    opacity: 1;
    border-left: 2px solid #A7081B;
    border-bottom: 2px solid #A7081B;
}
.tab_btn li:hover span::before {
    opacity: 1;
    border-top: 2px solid #A7081B;
    border-left: 2px solid #A7081B;
}

/* tab_btn on */
.tab_btn .push.on span::after {
    opacity: 1;
    border-right: 2px solid #A7081B;
    border-bottom: 2px solid #A7081B;
}
.tab_btn .push.on>span {
    text-align: center;
    height: 100%;
    background: #A7081B;
    color: #fff;
}
.tab_btn .push.on{
    background: #fff;
}
.tab_btn .push.on::before {
    opacity: 1;
    border-right: 2px solid #A7081B;
    border-top: 2px solid #A7081B;
}

.tab_btn .push.on::after {
    opacity: 1;
    border-left: 2px solid #A7081B;
    border-bottom: 2px solid #A7081B;
}
.tab_btn .push.on span::before {
    opacity: 1;
    border-top: 2px solid #A7081B;
    border-left: 2px solid #A7081B;
}

.tab_btn .push.on span::after {
    opacity: 1;
    border-right: 2px solid #A7081B;
    border-bottom: 2px solid #A7081B;
}

/* section3 */
.sec3{
    margin-bottom: 146px;
}
.sec4{
    margin-bottom: 146px;
}
.sc3_con{
    background: #252525;
    width: 100%;
    height: 470px;
    margin-bottom: 370px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding-top: 138px;
}
.sc3_con img{
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.4);
}
.sc3_con2 .c2_con:nth-child(2){
    border-bottom: none;
    margin-bottom: 120px;
}
.sc3_con2{
    display: flex;
    flex-direction: column;
}
.c2_con{
    display: flex;
    justify-content: space-between;
    height: 181px;
    border-bottom: 1px solid #B9B9B9;
    margin-bottom: 80px;
}
.right span{
    display: block;
    font-size: 2.8rem;
}
.right span:nth-child(1){
    color: #A7081B;
    font-weight: 500;
}
.c2_con p{
    width: 846px;
    font-size: 2rem;
}
.store{
    display: inline-block;
    margin: 0 auto;
    width: 288px;
    height: 82px;
    border: 2px solid #A7081B;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: #A7081B;
}
/* footer */
footer{
    width: 100%;
    height: 184px;
    display: flex;
    justify-content: space-between;
    padding: 45px 186px;
    background: #252525;
    position: relative;
}
.r_con{
    width: 471px;
    display: flex;
    justify-content: space-between;
}
.r_con>span{
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
}
.l_con>span:nth-child(1){
    display: block;
    font-size: 1.8rem;
    float: right;
    color:#fff;
}
.num>span{
    font-size: 1.8rem;
    float: right;
    margin-bottom: 15px;
    color: #fff;
}
.l_con .copy{
    display: block;
    font-size: 1.5rem;
    color: #fff;
}
.g_top{
    background: url(../img/icon/f_btn.png)no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    position: absolute;
    right: 80px;
    bottom: 95px;
    width: 40px;
    height: 40px;
    z-index: 50;
    cursor: pointer;
}
.clearfix{
    content:""; 
    display:block; 
    clear:both;
}
