body{
    min-width: 320px;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 68px;
    padding: 0 19px;
    display: flex;
    align-items: center;
    position:relative;
    z-index: 100;
}
.menu{
    display: none;
    width: 262px;
    height: 100VH;
    background: #000;
    position: absolute;
    top: 0;
    right: -300px;
    align-items: flex-start;
    transition: 0.4s;
}
.menu.on{
    display: block;
    right: 0px;
}
.lang {
    width: 78px;
    height: 26px;
    border-radius: 20px;
    border: 1.5px solid #CBCBCB;
    padding-left: 25px;
    font-size: 1.3rem;
    position: absolute;
    top: 25px;
    right: 65px;
    background: transparent;
}
.g_icon {
    top: 30px;
    right: 117px;
}
.nav{
    padding:90px 0 0 30px;
    display: block;
}
.nav li{
    color: #fff;
    margin-bottom: 30px;
    font-size: 1.5rem;
}
nav li:nth-child(4){
    margin-bottom: 0;
}
.logo{
    display: block;
    background: url(../img/logo/logo_fake_KO.png)no-repeat;
    background-size: contain;
    width: 119px;
    height: 27px;
}
.m_menu,.m_menu span{
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
}
.m_menu{
    position: relative;
    width: 20px;
    height: 16px;
    z-index: 101;
}
.m_menu span{
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background: #A7081B;
}
.m_menu span:nth-child(1){
    top:0;
}
.m_menu span:nth-child(2){
    top:7px;
}
.m_menu span:nth-child(3){
    bottom:0;
}
.m_menu.active span:nth-child(1){
    transform: translateY(7px) rotate(-45deg);
    background: #fff;
}
.m_menu.active span:nth-child(2){
    opacity: 0;
    background: #fff;
}
.m_menu.active span:nth-child(3){
    transform: translateY(-7px) rotate(45deg);
    background: #fff;
}
#sec1{
    display: none;
}
#sec1_M {
    position: relative;
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction:initial;
    align-items: initial;
}
.bg_M{
    width: 90%;
    height: 100%;
    background: url(../img/bg/contactus_M_bg.png) no-repeat;
    background-size: cover;
    padding-top: 47px;
    position: absolute;
    right: 0;
}
.M_title{
    display: block;
    background: url(../img/bg/M_title_bg.png) no-repeat;
    background-size: cover;
    width: 167px;
    height: 43px;
    padding: 12px 14px;
    position: relative;
    left: -24px;
}
.M_title>span{
    font-size: 1.3rem;
    color: #fff;
}

/* 모바일 리퀘스트 폼 */
#sec2 {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 42px;
}
#sec2>h1:nth-of-type(1) {
    display: none;
}
#sec2>h1:nth-of-type(2) {
    font-size: 1.5rem;
    letter-spacing: -0.05em;
    text-align: center;
    margin-bottom: 60px;
    font-weight: inherit;
    width: 80%;
    display: block;
}
.request_f {
    display: none;
}
.request_f_M {
    display: block;
    padding-left: 63px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contents div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.inner {
    width: 256px;
    display: flex;
}
.t {
    display: inline-block;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
}
.name_c .t:nth-child(1) {
    margin-right: 20px;
}
.c_name .t:nth-child(1), .contacts .t{
    margin-right: 4px;
}
.contact_b>.t {
    margin-right: 4px;
}
.name_c #name, .c_name #co, .contacts #email {
    margin-right: initial;
}
.t_con.inner>.t {
    display: inline-block;
    font-size: 1.2rem;
    display: flex;
    align-items: inherit;
    margin-right: 15px;
    position: relative;
}
.t::before {
    content: "";
    background: #A7081B;
    width: 3.12px;
    height: 3.12px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: -15px;
}
input[type="text"] {
    width: 204px;
    height: 23px;
    font-size: 0.9rem;
    padding-left: 10px;
    border: 1px solid #252525;
    border-left: 3px solid #A7081B;
}
#t_tle {
    width: 204px;
}
textarea {
    padding: 10px 10px;
    font-size: 0.9rem;
    width: 204px;
    height: 175px;
    border: 1px solid #252525;
    border-left: 3px solid #A7081B;
}
.file_up.inner {
    display: none;
}
input[type='radio']:before {
    content: '';
    display: block;
    width: 70%;
    height: 70%;
    margin: 2px auto;
    border-radius: 50%;
}
.submits label span {
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: initial;
}
.contents div.submits.inner {
    padding-right: 25px;
}
.t_con.inner{
    margin-bottom: 40px;
}
.s_submit {
    width: 59px;
    height: 16px;
    font-size: 1rem;
    background: #c4c4c4;
    color: #fff;
    border: none;
    cursor: pointer;
    line-height: 16px;
    margin-top: initial;
}
.c_btn {
    display: block;
    font-size: 1.3rem;
    color: #A7081B;
    background: transparent;
    border: 1px solid #A7081B;
    width: 90px;
    height: 30px;
    margin: 0 57px;
    cursor: pointer;
    margin-bottom: 65px;
    transition: 0.4s;
}
#sec3{
    height: 145px;
    background: url(../img/bg/sec4bg.png)no-repeat;
    background-size: cover;
    background-position: 50%;
}
.x {
    width: 15px;
    height: 15px;
    right: 30px;
    top: 30px;
}
.terms {
    padding: 25px;
}
.terms h1 {
    font-size: 1.8rem;
}
.tex1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.tex2 {
    width: 90%;
    font-size: 1rem;
    word-break: keep-all;
    margin-left: 10px;
    margin-bottom: 20px;
}
.tex3 {
    width: 90%;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.tex3>li {
    font-size: 1rem;
    margin-left: 10px;
    margin-top: initial;
}
footer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    padding: initial;
    background: #252525;
    position: relative;
    padding: 0 12px
}
.l_con>span {
    font-size: 1.3rem;
    word-break: keep-all;
}
.num>span {
    font-size: 1.3rem;
    word-break: keep-all;
}
.l_con .copy {
    font-size: 1.2rem;
    word-break: keep-all;
}
.g_top {
    right: 12px;
    bottom: 13px;
    width: 30px;
    height: 30px;
}